<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>roman numeral converter</title>
  </head>

  <body>
    <h1>Enter a number</h1>
        <form action='/convert' method='post'>
            <input type='number' name ='number'>
            <br>
            <input type='submit' value='convert'>
  </body>
</html>
