<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="/images/logo.png">
    <title>roman numeral converter</title>
    <header>
      <div class="left">
        <img class="logo" src="/images/logo.png"</img>
        <div class="logo-text">
          <h1 class="logo-text-line">roman</h1>
          <h1 class="logo-text-line">numeral</h1>
          <h1 class="logo-text-line">converter</h1>
        </div>
      </div>
      <div class="right">
        <div><a href="/converter"><img class="nav-img" src="/images/abacus.png"></a></div>
        <div><a href="/table"><img class="nav-img" src="/images/grid.png"></a></div>
      </div>
    </header>
  </head>
  <body>
  <div class='content'>
    <h1>Enter a number</h1>
    <div>
    <form action='/convert' method='post' autocomplete="off">
      <h1 class='result'><input type='number' name ='number'></h1>
      <div class='enter'><input type='submit' value='convert'></div>
    </form>
    </div>
  </div>
  <footer>
    <div class="footer">
      <img class="foot-img" src="/images/heart.png">
      <h3>made with love by <a href="https://www.github.com/kiedunne">kie</a></h3>
      <h3 class="icon-link">icons made by <a href="https://www.freepik.com">Freepik</a></div>
  </footer>
  </body>
</html>
