<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="style.css">
    <title>roman numeral converter</title>
  </head>
  <body>
  <div class='content'>
    <h1>Enter a number</h1>
    <div>
    <form action='/convert' method='post'>
      <div class='enter'><input type='number' name ='number'></div>
      <div class='enter'><input type='submit' value='convert'></div>
    </form>
    </div>
  </div>
  </body>
</html>
