<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="style.css">
    <link href="/docs/4.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>roman numeral converter</title>
    <header>
      <div class="left">
        <img class="logo" src="/images/logo.png"</img>
        <div class="logo-text">
          <h1 class="logo-text-line">roman</h1>
          <h1 class="logo-text-line">numeral</h1>
          <h1 class="logo-text-line">converter</h1>
        </div>
      </div>
      <div class="right">
        <h1 class="nav-text"><a class="nav-link" href="/">converter </a></h1>
        <h1 class="nav-text"><a class="nav-link" href="#">table</a></h1>
      </div>
    </header>
  </head>
  <body>
      <div class='content'>
        <div>
          <h1>decimal number.</h1>
          <h1 class='result'><%=@number%></h1>
        </div>
        <div>
          <h1>roman numeral.</h1>
          <h1 class='result'><%=@roman_numeral.roman_numeral%></h1>
        </div>
        <div>
        <form action='/convert' method='post'autocomplete="off">
          <div class='enter'><input type='number' name ='number'></div>
          <div class='enter'><input type='submit' value='convert'></div>
        </form>
        </div>
      </div>
    </body>
</html>
