<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>roman numeral converter</title>
  </head>
  <body>
      <div class='content'>
        <div class='user_num_div'>
          <h1 class="heading-text">This is the number you entered.</h1>
          <h1 class="result"><%=@number%></h1>
        </div>
        <div class='roman_num_div'>
          <h1 class="heading-text">Here's your roman numeral.</h1>
          <h1 class="result"><%=@roman_numeral.roman_numeral.join%></h1>
        </div>
        <div class='enter_num'>
          <form action='/convert' method='post'>
            <input type='nubmer' name ='number'>
            <input type='submit' value='convert again'>
        </div>
    </body>
</html>
