header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
img {
  width:100px;
  height:100px;
  padding: 10px;
  padding-bottom: 0px;
  }
.left {
  display: flex;
  flex-direction: row;
}
.logo-text {
  display: flex;
  flex-direction: column;
}
.logo-text-line {
  margin: 0px;
  text-align: left;
  font-size: 33px;
  font-weight: lighter;
}
.right {
  display: flex;
  flex-direction: column;
}
body {
  background-color: #e56874;
}
h1.nav-text {
  text-align: right;
  margin: 0px;
  font-weight: lighter;
}
a {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  padding: 5px;
}
a:hover {
  background-color: white;
  border-radius: 5px;
}
h1 {
  font-family: arial;
  font-size: 30px;
  font-weight: bold;
  color: #81bdfe;
  text-align: center;
}
h1.result {
  padding: 10px;
  border: solid;
  border-radius: 90px;
  border-color: #81bdfe;
  border-width: 50%;
}
div.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
div.enter {
  padding: 20px;
}
input[type=submit] {
  font-weight: lighter;
  background-color: #81bdfe;
  font-size: 30px;
  color: white;
  border: 0px;
  border-radius: 10px;
  width: 100%;
}
input[type=submit]:hover {
  color: #81bdfe;
  background-color: white;
}
input[type=number] {
  font-weight: lighter;
  text-align: center;
  font-size: 20px;
  color: #81bdfe;
  border-radius: 10px;
  width: 100%;
  border-style: none;
  outline: none;
}
